.rs-banner {
  color: #fff;
  position: relative;
}
@media (max-width: 1169.98px) {
  .rs-banner__block {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='375' height='230' viewBox='0 0 375 230' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M151 0H0V130.707V229.5H224.309H375V131.351C375 111.983 363.592 94.4325 345.892 86.5701L151 0Z' fill='%231F8DBB'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    padding: 77px 0px 0px;
    background-color: var(--second-color);
  }
}
.rs-banner__body {
  position: relative;
}
@media (min-width: 1169.98px) {
  .rs-banner__body {
    padding: 427px 0px 112px;
    min-height: 827.5px;
  }
}
@media (min-width: 1169.98px) and (max-width: 1920px) {
  .rs-banner__body {
    min-height: calc(505px + (827.5 - 505) * (100vw - 1169.98px) / (1920 - 1169.98));
  }
}
@media (min-width: 1169.98px) and (max-width: 1920px) {
  .rs-banner__body {
    padding-top: calc(250px + (427 - 250) * (100vw - 1169.98px) / (1920 - 1169.98));
  }
}
@media (min-width: 1169.98px) and (max-width: 1920px) {
  .rs-banner__body {
    padding-bottom: calc(50px + (112 - 50) * (100vw - 1169.98px) / (1920 - 1169.98));
  }
}
@media (min-width: 1169.98px) {
  .rs-banner__body::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--second-color);
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1195 828"><path d="M582.5 0H0V416V827.5H714.5H1194.5V445.243C1194.5 402.524 1172.33 362.864 1135.95 340.48L582.5 0Z" fill="%234EBCEA"/></svg>');
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1195 828"><path d="M582.5 0H0V416V827.5H714.5H1194.5V445.243C1194.5 402.524 1172.33 362.864 1135.95 340.48L582.5 0Z" fill="%234EBCEA"/></svg>');
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: left top;
            mask-position: left top;
    -webkit-mask-size: contain;
            mask-size: contain;
    z-index: -1;
    pointer-events: none;
  }
}
@media (min-width: 1169.98px) {
  .rs-banner__body_content {
    max-width: 739px;
  }
}
@media (max-width: 1169.98px) {
  .rs-banner__body_content br {
    display: none;
  }
}
@media (min-width: 1169.98px) {
  .rs-banner__footer {
    padding: 40px 0px 0px;
    min-height: 447px;
    position: relative;
  }
}
@media (min-width: 1169.98px) and (max-width: 1920px) {
  .rs-banner__footer {
    padding-top: calc(20px + (40 - 20) * (100vw - 1169.98px) / (1920 - 1169.98));
  }
}
@media (min-width: 1169.98px) and (max-width: 1920px) {
  .rs-banner__footer {
    min-height: calc(275px + (447 - 275) * (100vw - 1169.98px) / (1920 - 1169.98));
  }
}
@media (min-width: 1169.98px) {
  .rs-banner__footer::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--tertiary-color);
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 447"><path d="M1194.5 0H0V116.5C0 133.069 13.4315 146.5 30 146.5H1292.5C1300.07 146.5 1307.54 148.219 1314.35 151.527L1922.5 447L1426.5 140.956L1194.5 0Z" fill="%231F8DBB"/></svg>');
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 447"><path d="M1194.5 0H0V116.5C0 133.069 13.4315 146.5 30 146.5H1292.5C1300.07 146.5 1307.54 148.219 1314.35 151.527L1922.5 447L1426.5 140.956L1194.5 0Z" fill="%231F8DBB"/></svg>');
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-position: left top;
            mask-position: left top;
    -webkit-mask-size: contain;
            mask-size: contain;
    z-index: -1;
    pointer-events: none;
  }
}
@media (max-width: 1169.98px) {
  .rs-banner__footer {
    padding-top: 8px;
    padding-bottom: 30px;
  }
}
.rs-banner__footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1169.98px) {
  .rs-banner__footer_content {
    max-width: 900px;
  }
}
.rs-banner__footer_content svg {
  margin-right: 32px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 34px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1920px) {
  .rs-banner__footer_content svg {
    margin-right: calc(20px + (32 - 20) * (100vw - 1169.98px) / (1920 - 1169.98));
  }
}
@media (max-width: 1920px) {
  .rs-banner__footer_content svg {
    width: calc(28px + (34 - 28) * (100vw - 1169.98px) / (1920 - 1169.98));
  }
}
@media (max-width: 1169.98px) {
  .rs-banner__footer_content svg {
    display: none;
  }
}
.rs-banner__footer_content h5 {
  font-weight: 400;
  font-size: clamp(14px, 1.5vw, 22px);
  line-height: 130%;
}
@media (min-width: 1169.98px) {
  .rs-banner__footer_content h5 {
    text-wrap: balance;
  }
}
@media (min-width: 1169.98px) {
  .rs-banner__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1343 1276"><path d="M1339.5 1H2L531.5 327C536.333 329.667 549.1 337.1 561.5 345.5C573.9 353.9 582.667 363.667 585.5 367.5C589.833 372.667 599.7 386.2 604.5 399C609.3 411.8 610.5 416 610.5 416.5C611.333 420 613.1 428.4 613.5 434C613.9 439.6 614 446 614 448.5V459V828L1342 1275L1339.5 1Z" stroke="black" fill="black"/></svg>');
            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1343 1276"><path d="M1339.5 1H2L531.5 327C536.333 329.667 549.1 337.1 561.5 345.5C573.9 353.9 582.667 363.667 585.5 367.5C589.833 372.667 599.7 386.2 604.5 399C609.3 411.8 610.5 416 610.5 416.5C611.333 420 613.1 428.4 613.5 434C613.9 439.6 614 446 614 448.5V459V828L1342 1275L1339.5 1Z" stroke="black" fill="black"/></svg>');
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    -webkit-mask-size: contain;
            mask-size: contain;
    -webkit-mask-position: right top;
            mask-position: right top;
  }
}
@media (max-width: 1169.98px) {
  .rs-banner__bg {
    height: 419px;
  }
}
.rs-banner__bg video,
.rs-banner__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}